body{
    background-color: black;
}

.title{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.button-image{
    background-color: transparent;
    height: 120px;
    width: 120px;
    border: 3px solid white;
    border-radius: 70px;
    margin-right: 20px;
    cursor: pointer;
}
.image{
    height: 50px;
    padding: 25px;
}

.score,.result,.res{
    font-size: 20px;
    color: white;
}

.reset{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}